*{
    margin: 0;
    padding: 0;
}

.headerContainer {
    width: 1110px;
    margin: 0 auto;
}

.logoTextStyle {
    font-family: Lato;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    float: left;
    margin-top: 38px;
}

.menuTextStile {
    fontnt-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Lato;
}

div.headerContainer li {
    padding-left: 35px;
    float: left;
}

div.headerContainer li:hover {
    color: black;
}

div.headerContainer ul:first-of-type {
    float: right;
    margin-top: 45px;
    color: #8e8e8e;;
}

h1 {
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 80px;
}

ul {
    list-style-type: none;
}