.recentWork {
    width: 1110px;
    margin: 0 auto;
    text-align: center;
}

.grayFont {
    margin-top: 101px;
    background-color: #f8f8f8;
}

.recentWork h1 {
    padding-top: 80px;
}

.recentWork ul:first-of-type li {
    color: #8e8e8e;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    float: left;
    padding: 15px;
    border: 1px solid #f8f8f8;
}

.recentWork ul:first-of-type li:hover {
    border: 1px solid #333333;
}

.recentWork ul:first-of-type {
    margin-top: 100px;
    display: inline-block;
}

.grayFont {
    margin-top: 101px;
    background-color: #f8f8f8;
}

.portfolio li {
    float: left;
}

.portfolio li:not(:nth-child(3n)) {
    margin-right: 30px;
}

.portfolio li:not(:nth-child(-n + 3)) {
    margin-top: 30px;
}

.portfolio {
    margin-top: 40px;
    display: inline-block;
    margin-bottom: 40px;
}

.portfolio div:first-of-type p:first-child {
    color: #333333;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
}

.portfolio div:first-of-type p:last-child {
    color: #8e8e8e;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.portfolioTextOnImage {
    width: 350px;
    height: 80px;
    background-color: #ffffff;
    float: left;
}

.portfolioTextOnImage p {
    text-align: left;
    margin-left: 31px;
}

.portfolioTextOnImage p:first-child {
    margin-top: 17px;
}

.portfolio li {
    position: relative;
}

.portfolio li div:first-of-type {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.hoverImage {
    opacity: 0;
}

.target {
    background: url("../img/recent/target.png") no-repeat center;
    width: 350px;
    height: 298px;
    background-color: rgba(0, 0, 0, 0.5);
}

.portfolio li:hover .hoverImage {
    opacity: 1;
}