
/*table*/
tr:first-of-type td:first-child {
    background-color: brown;
}

tr:first-of-type td:last-child {
    background-color: cadetblue;
}

tr:nth-of-type(2) td:first-child {
    background-color: chartreuse;
}

tr:nth-of-type(2) td:last-child {
    background-color: coral;
}

tr:last-of-type td {
    background-color: crimson;
}

tr {
    height: 200px;
}

td {
    width: 200px;
}

/*firs ul*/

div li:first-child a:first-of-type {
    color: red;

}

div li:last-child a:last-of-type {
    color: yellow;
}

div em:first-of-type a:first-child {
    color: green;
}

div p a:first-child {
    color: blue;
}

p a:first-child {
    color: gray;

}

p i a:last-child {
    color: aqua;
}

div span em:first-child {
    color: violet;
}

/*last ul*/
strong:first-of-type {
    color: chocolate;
}

ul:last-child li:nth-child(2) em:first-of-type a {
    color: orange;
}

ul:last-child li:last-child em:last-of-type a {
    color: indigo;
}